<!DOCTYPE html>
<html>
<head>
	<title>PRODUCTOS | KITTENS</title>
	<link rel="stylesheet" type= "text/css" href="css/estilo3.css">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/0a8957e2b7.js" crossorigin="anonymous"></script>
	<link rel="icon" href="imagenes/logo.ico.png">
</head>
<body>
	<header>
		<div class="logo">
			<img src="imagenes/logosolo.png" alt="">
		</div>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="index2.html"><span class="icon-home3"></span> <b>Inicio</b> </a></li>
					<li class="submenu">
						<a href="productos.html"><span class="icon-gift"></span> <b>Productos</b> <span class="caret icon-arrow-down"></span></a>
						<ul class="children">
							<li><a href="juguetes.html"> <b>Juguetes</b> <span class="icon-minus"></span></a></li>
							<li><a href="alimentos.html"> <b>Alimentos</b> <span class="icon-minus"></span></a></li>
							<li><a href="muebles-para-gatos.html"> <b>Muebles</b> <span class="icon-minus"></span></a></li>
						</ul>
					</li>
					<li><a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html"><span class="icon-blogger2"></span><b>Blog</b></a></li>
					<li>
						<a href="#"><span class="icon-user"></span><b>Registro</b> <span class="caret icon-arrow-down"></span></a>
						<ul class="children">
							<li><a href="#"> <b>Iniciar sesion</b> <span class="icon-minus"></span></a></li>
							<li><a href="#"> <b>Registrarse</b> <span class="icon-minus"></span></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
	<h1>-COMIDA PARA TU AMIGO FELINO:</h1>
	<div class="cajas_productos">
		<table border="0" class="producto">
            <tr>
				<td><a href="producto.html"><img src="Imagenes/comida-1.png" width="300px" alt=""></td></a>
				<td><b>Friskies Selección</b></br></br>Especial - Pollo, carne, pescado, hígado, salmón y mariscos
				</br></br>7.26 kg</br></br>89,90</td>
            </tr>
        </table>
		<table border="0" class="producto">
			<tr>
				<td> <img src="Imagenes/comida-2.png" width="300px" alt=""></td>
				<td><b>1St Choice Adulto </b></br></br>Hipoalergénico Gato - Adulto hipoalergenico a base de Pato
				</br></br>2.72 kg</br></br>S/. 114,00</td>
            </tr>
		</table>
		<table border="0" class="producto">
			<tr>
				<td> <img src="Imagenes/comida-3.png" width="300px" alt=""></td>
				<td><b>1St Choice Adulto Salud </b></br></br>Urinaria Gato
				</br></br>5.44 kg</br></br>S/. 204,50</td>
            </tr>
		</table>
	</div>
</body>
<footer>
	<div class="container-footer-all">
		<div class="container-body">
			<div class="colum2">
				<h1>Redes Sociales</h1>
				<div class="row">
					<a href="https://www.facebook.com/franoeduardo.vargasoliveira.5"><img src="icon/facebook.png"></a>
					<label>Siguenos en Facebook</label>
				</div>
				<div class="row">
					<a href="https://www.youtube.com/channel/UCsfqevWs3J7ecNuKABc_BKQ"><img src="icon/youtube.png"></a>
					<label>Siguenos en Youtube</label>
				</div>
				<div class="row">
					<a href="https://www.instagram.com/kittensppef/"><img src="icon/instagram.png"></a>
					<label>Siguenos en Instagram</label>
				</div>
			</div>
			<div class="colum1">
				<h1>PUNTOS DE VENTA</h1>
				<p>Atendemos en todos nuestros locales en el horario de:<br><br>Lunes-Sábado 10:00 a.m- 8:00 pm</p>
				<a href="Maps.html"><img src="imagenes/mapa.png" alt=""></a>
			</div>
			<div class="colum3">
				<h1>Informacion Contactos</h1>
				<div class="row2">
					<img src="icon/house.png">
					<label>Al costado de mi vecino</label>
				</div>
				<div class="row2">
					<img src="icon/smartphone.png">
					<label>+51 948545164</label>
				</div>
				<div class="row2">
					<img src="icon/contact.png">
					<label>KittensPPEF@gmail.com</label>
				</div>
			</div>
		</div>
	</div>
	<div class="container-footer">
		<div class="footer">
			<div class="copyright">
				© 2021 Todos los Derechos Reservados | <a href="">Kittens</a>
			</div>
			<div class="information">
				<a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html">Acerca de Nosotros</a> | <a href="terminos.html">Terminos y Condiciones</a>
			</div>
		</div>
	</div>
</footer>
</html>