<!DOCTYPE html>
<html lang="en">
<head>
    <title>KITTENS</title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="css/estilo1.css">
    <script src="https://kit.fontawesome.com/0a8957e2b7.js" crossorigin="anonymous"></script>
    <link rel="icon" href="imagenes/logo.ico.png">
</head>
<body>
    <header><center>
        <section id="logo">
            <img src="imagenes/logogato.png"alt="Logo">
        </section>
        <div class="menu_bar">
            <a href="#" class="bt-menu"><span class="icon-list"></span>Menu</a>
        </div></center>
    </header><center>
        <nav><center>
            <ul>
                <li><a href="index2.html"><span class="icon-home3"></span> <b>Inicio</b> </a></li>
                <li class="submenu">
                    <a href="productos.html"><span class="icon-gift"></span><b>Productos</b> <span class="caret icon-arrow-down"></span></a>
                    <ul class="children">
                        <li><a href="juguetes.html"> <b>Juguetes</b> <span class="icon-minus"></span></a></li>
                        <li><a href="alimentos.html"> <b>Alimentos</b> <span class="icon-minus"></span></a></li>
                        <li><a href="muebles-para-gatos.html"> <b>Muebles</b> <span class="icon-minus"></span></a></li>
                    </ul>
                </li>
                <li><a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html" target="_BLANK"><span class="icon-blogger2"></span><b>Blog</b></a></li>
                <li>
                    <a href=""><span class="icon-user"></span><b>Registro</b> <span class="caret icon-arrow-down"></span></a>
                    <ul class="children">
                        <li><a href="login.html"> <b>Iniciar sesion</b> <span class="icon-minus"></span></a></li>
                        <li><a href="login.html"> <b>Registrarse</b> <span class="icon-minus"></span></a></li>
                    </ul>
                </li>
            </ul>
        </nav></center>
    <div class="todo">
        <div class="cuerpo-1">
            <div class="ofertas">
                <h2 class="title2"><i class="fas fa-fire"></i> OFERTAS ESPECIALES <i class="fas fa-fire"></i></h2>
                <div class="contenedor-slider">
                    <div class="slider">
                        <div class="seccion-slider">
                            <div class="mini-slider-one">
                                <img src="imagenes/Oferta1.png" alt="">
                                <p>Oferta 1</p>
                            </div>
                            <div class="mini-slider-two">
                                <img src="imagenes/Oferta2.png" alt="">
                                <p>Oferta 2</p>
                            </div>
                        </div>
                        <div class="seccion-slider">
                            <div class="mini-slider-one">
                                <img src="imagenes/Oferta3.png" alt="">
                                <p>Oferta 3</p>
                            </div>
                            <div class="mini-slider-two">
                                <img src="imagenes/Oferta4.png" alt="">
                                <p>Oferta 4</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-right">&#62</div>
                    <div class="btn-left">&#60</div>
                </div>
            </div>
            <div class="datos-curiosos">
                <input type="search" name="Buscador" id="buscador" placeholder="Buscador:"><i class="fas fa-search"></i>
                <div class="datos-curiosos-1">
                    <table border 1px>
                        <tr>
                            <td>
                                <p>El rango de vision de un gato no incluye la zona por debajo de su nariz.</p>
                            </td>
                            <td>
                                <p>Los gatos se saludan rosando sus narices.</p>
                            </td>
                            <td>
                                <p>Los gatos tienen más huesos que los seres humanos, nos ganan por 24.</p>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <img src="imagenes/dato-1.png" alt="">
                            </td>
                            <td>
                                <img src="imagenes/dato-2.png" alt="">
                            </td>
                            <td>
                                <img src="imagenes/dato-3.png" alt="">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="cuerpo-2">
            <div class="productos">
                <h2 class="title2"><i class="fas fa-chart-line"></i> PRODUCTOS MAS VENDIDOS <i class="fas fa-chart-line"></i></h2>
                <div class="contenedor-slider">
                    <div class="slider" id="slider2">
                        <div class="seccion-slider2">
                            <div class="mini-slider-one2">
                                <img src="imagenes/Productotop1.png" alt="">
                                <p>Producto 1</p>
                            </div>
                            <div class="mini-slider-two2">
                                <img src="imagenes/Productotop2.png" alt="">
                                <p>Producto 2</p>
                            </div>
                        </div>
                        <div class="seccion-slider2">
                            <div class="mini-slider-one2">
                                <img src="imagenes/productotop3.png" alt="">
                                <p>Producto 3</p>
                            </div>
                            <div class="mini-slider-two2">
                                <img src="imagenes/productotop4.png" alt="">
                                <p>Producto 4</p>
                            </div>
                        </div>
                    </div>
                    <div class="btn-right2">&#62</div>
                    <div class="btn-left2">&#60</div>
                </div>
            </div>
            <div class="datos-curiosos">
                <table border 1px>
                    <tr>
                        <td>
                            <p>Los gatos pueden rotar sus orejas 180 grados.</p>
                        </td>
                        <td>
                            <p>Los gatos pueden pasar hasta 14 horas dormidos.</p>
                        </td>
                        <td>
                            <p>Pueden saltar desde más de 3 metros de altura.</p>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="imagenes/dato-4.png" alt="">
                        </td>
                        <td>
                            <img src="imagenes/dato-5.png" alt="">
                        </td>
                        <td>
                            <img src="imagenes/dato-6.png" alt="">
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="cuerpo-3">
            <div class="objetivos">
                <h2 class="title2"><i class="fas fa-hands-helping"></i> OBJETIVOS Y COMPROMISO <i class="fas fa-hands-helping"></i></h2>
                <p>Somos una empresa comprometida con el bienestar de los gatos, dando acogida a todos aquellos gatos desamparados, te brindamos productos, juguetes y alimento, además
                    recibirás algunos tips y datos curiosos para que sepas mas sobre tu amigo gatuno. 
                    Estamos tan empeñados en ayudar a nuestros amigos mininos que por cada compra, un 1% estará destinada a fundaciones para su protección.
                    
                    Nuestro objetivo es cambiar la lamentable situación de los gatitos en las calles, brindandoles 
                    un refugio seguro e incentivar a estos actos, haciendo reflexionar a las personas que ellos tambien
                    son seres vivos y necesitan cuidado, asimismo poco a poco disminuiremos la cantidad de gatitos
                    en desvalimiento.<br>
                    SI DESEA HACER UNA PEQUEÑA DONACION <a href="donacion.html">"Haga Click Aquí"</a></p>
                <center><video src="imagenes/KITTENS.mp4" width="700px" height="300px" controls></video></br></center>
                
            </div>
            <div class="gif">
                <a href="https://api.whatsapp.com/send/?phone=51948545164&text=Hola+tengo+consultas&app_absent=0"><img src="imagenes/KITTENS.gif" alt=""></a>
            </div>
        </div>
    </div> 
    <footer>
        <div class="container-footer-all">
            <div class="container-body">
                <div class="colum2">
                    <h1>Redes Sociales</h1>
                    <div class="row">
                        <a href="https://www.facebook.com/Kittens-110420377966976" target="_BLANK"><img src="icon/facebook.png"></a>
                        <label>Siguenos en Facebook</label>
                    </div>
                    <div class="row">
                        <a href="https://www.youtube.com/channel/UCsfqevWs3J7ecNuKABc_BKQ" target="_BLANK"><img src="icon/youtube.png"></a>
					    <label>Siguenos en Youtube</label>
                    </div>
                    <div class="row">
                        <a href="https://www.instagram.com/kittensppef/" target="_BLANK"><img src="icon/instagram.png"></a>
                        <label>Siguenos en Instagram</label>
                    </div>
                </div>
                <div class="colum1">
                    <h1>PUNTOS DE VENTA</h1>
                    <p>Atendemos en todos nuestros locales en el horario de:<br><br>Lunes-Sábado 10:00 a.m- 8:00 pm</p><br>
                    <a href="Maps.html"><img src="imagenes/mapa.png" alt=""></a>
                </div>
                <div class="colum3">
                    <h1>Informacion Contactos</h1>
                    <div class="row2">
                        <img src="icon/house.png">
                        <label>Al costado de mi vecino</label>
                    </div>
                    <div class="row2">
                        <img src="icon/smartphone.png">
                        <label>+51 948545164</label>
                    </div>
                    <div class="row2">
                        <img src="icon/contact.png">
                        <label>KittensPPEF@gmail.com</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-footer">
            <div class="footer">
                <div class="copyright">
                    © 2021 Todos los Derechos Reservados | <a href="">Kittens</a>
                </div>
                <div class="information">
                    <a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html" target="_BLANK">Acerca de Nosotros</a> | <a href="terminos.html">Terminos y Condiciones</a>
                </div>
            </div>
        </div>
    </footer>
</body>
   
    <script src="js/index2.js"></script>
</html>