<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="paga2.css">
    <title>Document</title>
</head>
<body> 
    <div>
        <center>
        <img src="imagenes/Captura3(2).png" alt="" width="1000" height="300">
        </center>
    </div>

    <div class="container_general">     
    <div class="container">
        <p>Ingrese su número: </p>
        <input class="parte" id="number"  name="txtnombre" type="text" value="" size="50" /> 
        <p>"Mediante se número nos comunicaremoscon usted para informarle cuando el producto esté llegando a su domicilio"</p>
        <button class="boton" >Siguiente</button>
    </div>

    <div class="container2">
        <img src="imagenes/niubiz-554.jpg" alt="" width="300" height="150">
        <p>*El pago será mediante Pago Link, así que podrá realizar la transición  con total seguridad tanto para el vendedor com comprador*</p></br>
        <button class="boton">Finalizar Pedido</button>
    </div>
    </div>

    <script src="paga.js"></script>
</body>
</html>