<!DOCTYPE html>
<html>
<head>
	<title>PRODUCTOS | KITTENS</title>
	<link rel="stylesheet" type= "text/css" href="css/estilo2.css">
	<meta charset="utf-8">
	<script src="https://kit.fontawesome.com/0a8957e2b7.js" crossorigin="anonymous"></script>
	<link rel="icon" href="imagenes/logo.ico.png">
</head>
<body>
	<header>
		<div class="logo">
			<img src="imagenes/logosolo.png" alt="">
		</div>
		<div class="menu">
			<nav>
				<ul>
					<li><a href="index2.html"><span class="icon-home3"></span> <b>Inicio</b> </a></li>
					<li class="submenu">
						<a href="productos.html"><span class="icon-gift"></span> <b>Productos</b> <span class="caret icon-arrow-down"></span></a>
						<ul class="children">
							<li><a href="juguetes.html"> <b>Juguetes</b> <span class="icon-minus"></span></a></li>
							<li><a href="alimentos.html"> <b>Alimentos</b> <span class="icon-minus"></span></a></li>
							<li><a href="muebles-para-gatos.html"> <b>Muebles</b> <span class="icon-minus"></span></a></li>
						</ul>
					</li>
					<li><a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html"><span class="icon-blogger2"></span><b>Blog</b></a></li>
					<li>
						<a href="#"><span class="icon-user"></span><b>Registro</b> <span class="caret icon-arrow-down"></span></a>
						<ul class="children">
							<li><a href="#"> <b>Iniciar sesion</b> <span class="icon-minus"></span></a></li>
							<li><a href="#"> <b>Registrarse</b> <span class="icon-minus"></span></a></li>
						</ul>
					</li>
				</ul>
			</nav>
		</div>
	</header>
    <div class="cajas_productos">
		<table border="0" class="producto">
            <tr class="imagenes">
				<div class="imagen">
					<td> <img src="Imagenes/comida-1.png" width="300px" alt="" hreft="producto.html"></td>
					<td><b>Purina</b></br></br>Crocketas a base de Pollo, Carne, pescado, hígado, salmón y mariscos
					</br></br>Marca:</br>Purina-Friskies
					</br></br>Peso:</br> 7.26 kg</td>
				</div>
            </tr>
        </table>
		<div class="carrito">
			<a href="paga.html"><i class="fas fa-shopping-cart"></i></a>
		</div>
	</div>
</body>
<footer>
	<div class="container-footer-all">
		<div class="container-body">
			<div class="colum2">
				<h1>Redes Sociales</h1>
				<div class="row">
					<a href="https://www.facebook.com/franoeduardo.vargasoliveira.5"><img src="icon/facebook.png"></a>
					<label>Siguenos en Facebook</label>
				</div>
				<div class="row">
					<a href="https://www.youtube.com/channel/UCsfqevWs3J7ecNuKABc_BKQ"><img src="icon/youtube.png"></a>
					<label>Siguenos en Youtube</label>
				</div>
				<div class="row">
					<a href="https://www.instagram.com/kittensppef/"><img src="icon/instagram.png"></a>
					<label>Siguenos en Instagram</label>
				</div>
			</div>
			<div class="colum1">
				<h1>Mas informacion de la compañia</h1>
				<p>Esta compañia se dedica a la venta de software integrado con un 
				 conjunto de cosas que no se lo que estoy escribiendo, este 
				 texto es solo para llenara informacion en el cuadro de informacion 
				 de la compañia.</p>
				 <a href="Maps.html"><img src="imagenes/mapa.png" alt=""></a>
			</div>
			<div class="colum3">
				<h1>Informacion Contactos</h1>
				<div class="row2">
					<img src="icon/house.png">
					<label>Al costado de mi vecino</label>
				</div>
				<div class="row2">
					<img src="icon/smartphone.png">
					<label>+51 948545164</label>
				</div>
				<div class="row2">
					<img src="icon/contact.png">
					<label>KittensPPEF@gmail.com</label>
				</div>
			</div>
		</div>
	</div>
	<div class="container-footer">
		<div class="footer">
			<div class="copyright">
				© 2021 Todos los Derechos Reservados | <a href="">Kittens</a>
			</div>
			<div class="information">
				<a href="https://kittensssssssssssssssssssssss.blogspot.com/2021/05/kittens.html">Acerca de Nosotros</a> | <a href="terminos.html">Terminos y Condiciones</a>
			</div>
		</div>
	</div>
</footer>
</html>